

<main class="container-fluid">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn" type="button">Quiero adoptar a <b>Roman</b></button>
      </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide h-100" data-bs-ride="carousel">
                    <div class="carousel-inner h-100">
                        <div class="carousel-item active h-100">
                            <img src="/assets/img/patica/cat1.png" class="d-block w-100 h-100" alt="patica">
                        </div>
                        <div class="carousel-item h-100">
                            <img src="/assets/img/patica/cat2.png" class="d-block w-100 h-100" alt="patica">
                        </div>
                        <div class="carousel-item h-100">
                            <img src="/assets/img/patica/cat3.png" class="d-block w-100 h-100" alt="patica">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body h-100">
                    <div class="header">
                        <h1 class="card-title">Roman</h1>
                        <h5 class="card-subtitle mb-2"><i class="bi bi-geo-alt-fill fs-5"></i>Nombre Protectora (Murcia)</h5>
                    </div>
                
                    <div class="row mb-3 justify-content-center">
                        <div class="col">
                            <span class="badge rounded-pill text-bg-dark d-block text-center"><i class="fa-solid fa-mars fs-6"></i> Macho</span>
                        </div>
                        <div class="col">
                            <span class="badge rounded-pill text-bg-dark d-block text-center"><i class="bi bi-arrows-angle-expand fs-6"></i> Grande</span>
                        </div>
                        <div class="col">
                            <span class="badge rounded-pill text-bg-dark d-block text-center"><i class="fa-solid fa-cake-candles fs-6"></i> 01/01/2019</span>
                        </div>
                        <div class="col">
                            <span class="badge rounded-pill text-bg-dark d-block text-center"> <i class="fa-solid fa-paw fs-6"></i> Persa</span>
                        </div>
                    </div>
                
                    <p class="card-text">"Vigilo ipsum aspernatur. Consectetur stultus suspendo cetera tego. Eos desolo communis tumultus.
                        Concedo varius assumenda autem sono verecundia consuasor. Arto viduo statim. Explicabo conturbo assumenda vulpes amitto.
                        Voco vulticulus aggero agnitio. Acsi antepono communis vita argumentum atqui conventus demitto. Conturbo audio creator voro vulgivagus tyrannus dapifer articulus."</p>
                
                    <div class="row mb-3 mt-3 justify-content-center">
                        <div class="col">
                            <span class="badge rounded-pill text-bg-light d-block text-center"><i class="bi bi-check-lg fs-6"></i>Niños</span>
                        </div>
                        <div class="col">
                            <span class="badge rounded-pill text-bg-light d-block text-center"><i class="bi bi-x-circle-fill fs-6"></i>Perros</span>
                        </div>
                        <div class="col">
                            <span class="badge rounded-pill text-bg-light d-block text-center"><i class="bi bi-check-lg fs-6"></i>Gatos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
