.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.sidenav {
    flex: 1;
    display: flex;
    justify-content: left;
    transition: flex 0.5s;  
}

img{
    width: auto;
    height: 100vh;
    object-fit: cover;
}


.main {
    flex: 1;
    border-radius: 0 10px 10px 0;
    padding: 50px;
    transition: flex 0.5s;
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-form {
    background-color: #E8C07D;
    border-radius:  50px 50px 0 50px ;
    padding: 80px;
    max-width: 500px; 
}


.account {
    text-align: center;
    color: #212121;
    font-size: 11pt;

}

.account a {
    color: #212121;
    font-weight: bold;
    text-decoration: none;
}

.btn{
    text-align: center;
    align-self: center;
}




@media (max-width: 768px) {


    .sidenav {
        flex: 0;
    }

    .main {
        flex: 1;

    }
    .login-form{
        padding: 50px;
    }
}