<main class="container-fluid" *ngIf="shelter">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn" type="button" [routerLink]="['/formularios/volunteer']">Hazte voluntario</button>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="col-md-12 d-flex justify-content-center" style="max-height: 100%; max-width: 100%;">
                    <img [src]="shelter.image" class="img-fluid" alt="image">
                </div>
                
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="header">
                        <h1 class="card-title">{{shelter.name}}</h1>
                        <h5 class="card-subtitle"><i class="bi bi-geo-alt-fill fs-5"></i>{{shelter.location}}</h5>
                    </div>
                    <p class="card-text">{{shelter.description}}</p>
                </div>
            </div>
        </div>
    </div>
</main>
