<main class="container-fluid" *ngIf="userRole === 'shelter'">

    <div class="filters">
        <button type="button" class="btn add" [routerLink]="['./','add']">+ AÑADIR</button>
    </div>

    <div *ngIf="response">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-4"
                *ngFor="let paticas of (response?.content || [] | paginate: { itemsPerPage: request.pageSize, currentPage: request.page })">
                <div class="card h-100" style="height: 450px; position: relative;">
                    <i class="fa-solid"
                        [ngClass]="{'fa-mars': paticas.gender === 'male', 'fa-venus': paticas.gender === 'female', 'fs-5':true}"></i>
                    <img [src]="paticas.profileImage" class="card-img-top" alt="imagePaticas" style="cursor:pointer; max-height: 350px; max-width: auto;"
                        (click)="onSelectPatica(paticas)">
                    <div class="card-body">
                        <h5 class="card-title text-wrap text-truncate" style="cursor:pointer"
                            (click)="onSelectPatica(paticas)">{{ paticas.name }}</h5>
                        <div class="icons">

                            <div class="edit">
                                <a [routerLink]="['./', paticas.id, 'edit']"
                                    style="color: #212121; text-decoration: none;"><i
                                        class="bi bi-pencil-square fs-4"></i></a>
                            </div>
                            <div class="erase">
                                <a (click)="onDeleteClick(paticas.name, paticas.id)" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop"><i class="bi bi-trash3 fs-4"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls class="custom-pagination" (pageChange)="onPageChange($event)" previousLabel=" "
        nextLabel=" "></pagination-controls>


</main>

<!-- modal para eliminar voluntario -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Eliminar Patica</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="x"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro que deseas eliminar a <b>{{ currentPaticaName }}</b>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deletePatica(currentPaticaId)">Eliminar</button>
            </div>
        </div>
    </div>
</div>