<div class="carousel">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/home/img1.png" class="d-block w-100" alt="img1">
                <div class="carousel-caption text-start">
                    <div class="carousel-text">
                        <h1 class="display-4">¡Bienvenido a nuestra familia!</h1>
                        <p class="lead">¡Te invitamos cordialmente a unirte a nosotros en nuestra apasionante misión de
                            amor
                            y compasión hacia los animales! Cada animal que llega a nuestras puertas tiene una historia
                            única, llena de desafíos y superación. Nos dedicamos a brindarles el cuidado y la atención
                            que
                            merecen, pero también a encontrarles hogares llenos de amor y comprensión. </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/home/img2.png" class="d-block w-100" alt="img2">
                <div class="carousel-caption text-start">
                    <div class="carousel-text">
                        <h1 class="display-4">Rescates que cambian vidas</h1>
                        <p class="lead">Cada animal rescatado es un rayo de esperanza en un mundo a menudo oscuro. Desde
                            perros y gatos hasta conejos y aves, cada uno tiene una historia única de supervivencia y
                            resiliencia, recordándonos la fuerza del espíritu animal y la capacidad de adaptación en las
                            circunstancias más difíciles.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/home/img3.png" class="d-block w-100" alt="img3">
                <div class="carousel-caption text-start">
                    <div class="carousel-text">
                        <h1 class="display-4">Nuestras Paticas de Murcia</h1>
                        <p class="lead">Descubre el compromiso inquebrantable de Murcia con el bienestar animal. En
                            nuestro
                            refugio, cada patica encuentra amor, cuidado y un nuevo comienzo. Únete a nuestra comunidad
                            comprometida y ayuda a construir un futuro más brillante para nuestros amigos peludos.</p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>