.navbar-nav {
    display: flex;
    justify-content: center;
  }

  nav {
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;

  }

  .nav-link {
    margin-right: 120px;
  }

  .navbar-brand {
    padding-left: 80px;
    padding-right: 80px;
    
  }

  .dropdown-menu :hover {
    background-color: #e8c07d;
    color: #212121;
  }
  .nav-item{
    padding-left: 20px;
  }
  