<div class="content">
    <div class="zoom-effect" [routerLink]="['/paticas']">
      <img src="/assets/img/home/cardimg1.png" class="img-fluid" alt="img1">
      <div class="overlay d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h1 class="card-title">ADOPTA</h1>
          <p class="card-text">Y CAMBIA LA VIDA DE UNAS PATICAS</p>
        </div>
      </div>
    </div>
  
    <div class="zoom-effect">
      <img src="/assets/img/home/cardimg2.png" class="img-fluid" alt="img2">
      <div class="overlay d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h1 class="card-title">DONA</h1>
          <p class="card-text">TU AYUDA HACE POSIBLE MÁS HISTORIAS FELICES</p>
        </div>
      </div>
    </div>
  
    <div class="zoom-effect" [routerLink]="['/shelters']">
      <img src="/assets/img/home/cardimg3.png" class="img-fluid" alt="img3">
      <div class="overlay d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h1 class="card-title">HAZTE VOLUNTARIO</h1>
          <p class="card-text">ÚNETE Y AYUDA A NUESTRAS PATICAS. TU TIEMPO IMPORTA</p>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container">
    <div class="col-md-6">
      <h1 class="featurette-heading">¿Qué hacemos en Paticas?</h1>
      <p class="lead">Paticas, nace de la necesidad de simplificar la búsqueda de información sobre adopciones de animales
        al consolidar la oferta de las protectoras. Sabemos que para los usuarios, iniciar un proceso de adopción y
        mantener contacto con estos refugios, mayormente dirigidos por voluntarios, puede ser complicado.
        <br>
        Con Paticas, queremos hacer que el proceso de adopción sea más accesible, seguro y satisfactorio tanto para las
        personas como para los animales que necesitan un hogar lleno de amor.
      </p>
    </div>
    <div class="img-fluid-4">
      <img src="/assets/img/home/img4Home.png" class="img-fluid-4" alt="img4">
    </div>
  </div>