<main class="container-fluid">
    <form class="row justify-content-center" [formGroup]="form">
        <h3 class="title">AÑADIR PATICA</h3>

        <!--Primera columna-->
        <div class="col-lg-5">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Nombre"
                    formControlName="name">
                <label for="fullName">Nombre</label>
                <div *ngIf="fieldErrors['name']" class="text-danger">Este es un campo obligatorio</div>
              
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" formControlName="gender">
                    <option value="" disabled selected>Selecciona un género</option>
                    <option value=1>Hembra</option>
                    <option value=2>Macho</option>
                </select>
                <label for="floatingSelect">Género</label>
                <div *ngIf="fieldErrors['gender']" class="text-danger">Este es un campo obligatorio</div>
    
            </div>
            

            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="birthDate" placeholder="05/06/2023"
                    formControlName="birthDate" max="{{ getMaxDate() }}">
                <label for="birthDate">Fecha de nacimiento</label>
                <div *ngIf="fieldErrors['birthDate']" class="text-danger">Este es un campo obligatorio</div>
            </div>
          

            <div class="form-floating mb-3">
               
                <input list="municipios" name="municipios" type="text" placeholder="Ubicación: elige un municipio de Murcia" class="custom-input" formControlName="location">
                <datalist id="municipios">
                    <option value="Abanilla">
                    <option value="Abarán">
                    <option value="Águilas">
                    <option value="Albudeite">
                    <option value="Alcantarilla">
                    <option value="Los Alcázares">
                    <option value="Aledo">
                    <option value="Alguazas">
                    <option value="Alhama de Murcia">
                    <option value="Archena">
                    <option value="Beniel">
                    <option value="Blanca">
                    <option value="Bullas">
                    <option value="Calasparra">
                    <option value="Campos del Río">
                    <option value="Caravaca de la Cruz">
                    <option value="Cartagena">
                    <option value="Cehegín">
                    <option value="Ceutí">
                    <option value="Cieza">
                    <option value="Fortuna">
                    <option value="Fuente Álamo de Murcia">
                    <option value="Jumilla">
                    <option value="Librilla">
                    <option value="Lorca">
                    <option value="Lorquí">
                    <option value="Mazarrón">
                    <option value="Molina de Segura">
                    <option value="Moratalla">
                    <option value="Mula">
                    <option value="Murcia">
                    <option value="Ojós">
                    <option value="Pliego">
                    <option value="Puerto Lumbreras">
                    <option value="Ricote">
                    <option value="San Javier">
                    <option value="San Pedro del Pinatar">
                    <option value="Santomera">
                    <option value="Torre-Pacheco">
                    <option value="Las Torres de Cotillas">
                    <option value="Totana">
                    <option value="Ulea">
                    <option value="La Unión">
                    <option value="Villanueva del Río Segura">
                    <option value="Yecla">
                </datalist>
                <div *ngIf="fieldErrors['location']" class="text-danger">Este es un campo obligatorio y solo admite municipios de la Región de Murcia</div>
                
            </div>
        </div>

        <!--Primera columna-->

        <div class="col-lg-5">
            <div class="form-floating mb-3">
                <input type="species" class="form-control" id="species" placeholder="Especie"
                    formControlName="species">
                <label for="species">Especie (perro, gato, etc)</label>
                <div *ngIf="fieldErrors['species']" class="text-danger">Este es un campo obligatorio</div>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="floatingSelect" formControlName="size">
                    <option value="" disabled selected>Selecciona un tamaño</option>
                    <option value=1>Pequeño</option>
                    <option value=2>Mediano</option>
                    <option value=3>Grande</option>
                </select>
                <label for="floatingSelect">Tamaño</label>
                <div *ngIf="fieldErrors['size']" class="text-danger">Este es un campo obligatorio</div>
            </div>

            <div class="form-floating mb-2">
                <input type="shelter" class="form-control" id="shelter" placeholder="Protectora"
                    formControlName="shelter">
                <label for="shelter">Nombre de la protectora</label>
                <div *ngIf="fieldErrors['shelter']" class="text-danger">Este es un campo obligatorio</div>
            </div>

            <div class="form-group mb-3">
                <label for="profileImage">Imagen de perfil</label>
                <input type="file" class="form-control" id="profileImage" formControlName="profileImage" accept="image/*">
                <div *ngIf="fieldErrors['profileImage']" class="text-danger">Este es un campo obligatorio</div>
                
            </div>
        </div>
            <div class="col-lg-10">

                <div class="form-floating mb-4">
                    <textarea class="form-control" placeholder="Descripción" id="description" style="height: 100px" formControlName="description"></textarea>
                    <label for="description">Descripción</label>
                    <div *ngIf="fieldErrors['description']" class="text-danger">Este es un campo obligatorio</div>
                </div>
                

              <div class="form-group mb-3">
                <label for="carouselImages">Sube más imágenes para completar la descripción (máx. 3)</label>
                <input type="file" class="form-control" id="carouselImages" formControlName="carouselImages" multiple accept="image/*" (change)="onFileChange($event)">
                <div *ngIf="fieldErrors['carouselImages']" class="text-danger">Este es un campo obligatorio</div>
            </div>
            
            <div class="row mb-5" id="imagePreview"></div>
            

              <div class="row justify-content-center">
                <div class="col-md-4 mb-3 text-center">
                    <div class="form-floating">
                        <div *ngIf="fieldErrors['goodWithKids']" class="text-danger">Este es un campo obligatorio</div>
                        <p class="form-label" style="font-weight: bold;">¿Buena relación con niños?</p>
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="goodWithKids" id="goodWithKidsYes"
                            formControlName="goodWithKids" [value]="true">
                            <label class="form-check-label" for="goodWithKidsYes">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="goodWithKids" id="goodWithKidsNo"  formControlName="goodWithKids" [value]="false">
                            <label class="form-check-label" for="goodWithKidsNo">No</label>
                        </div>
                    </div>
                   
                
                </div>

                <div class="col-md-4 mb-3 text-center">
                    <div class="form-floating">
                        <div *ngIf="fieldErrors['goodWithDogs']" class="text-danger">Este es un campo obligatorio</div>
                        <p class="form-label" style="font-weight: bold;">¿Buena relación con perros?</p>
            
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="goodWithDogs" id="goodWithDogsYes"
                            formControlName="goodWithDogs" [value]="true">
                            <label class="form-check-label" for="goodWithDogsYes">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="goodWithDogs" id="goodWithDogsNo"  formControlName="goodWithDogs" [value]="false">
                            <label class="form-check-label" for="goodWithDogsNo">No</label>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 text-center">
                    <div class="form-floating">
                        <div *ngIf="fieldErrors['goodWithCats']" class="text-danger">Este es un campo obligatorio</div>
                        <p class="form-label" style="font-weight: bold; ">¿Buena relación con gatos?</p>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="goodWithCats" id="goodWithCatsYes"
                            formControlName="goodWithCats" [value]="true">
                            <label class="form-check-label" for="goodWithCatsYes">Sí</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="goodWithCats" id="goodWithCatsNo"  formControlName="goodWithCats" [value]="false">
                            <label class="form-check-label" for="goodWithCatsNo">No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
        
        
        <div class="col-lg-12 text-center mt-3">
            <button type="submit" class="btn" (click)="validateFields()">AÑADIR</button>
        </div>
       
    </form>
</main>
