<main class="login">
    <div class="main">
        <div class="col-md-10">
            <div class="login-form">
                <form>
                    <div class="d-flex align-items-end mb-3">
                        <select class="form-select form-select-lg" aria-label="Large select example" (change)="onUserTypeChange($event)" formControlName="role">
                            <option selected>Selecciona tu tipo de usuario</option>
                            <option value="user">Quiero adoptar</option>
                            <option value="shelterAdmin">Soy protectora</option>
                        </select>
                    </div>
                    
                    <!-- Campos para usuario -->
                    <div *ngIf="showUserFields">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Nombre">
                            <label for="floatingInput">Nombre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Apellidos">
                            <label for="floatingInput">Apellidos</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" placeholder="Email">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" placeholder="Contraseña">
                            <label for="floatingInput">Contraseña</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" placeholder="Repetir contraseña">
                            <label for="floatingInput">Repite la contraseña</label>
                        </div>
                        <div class="text-center"> <!-- Añade la clase text-center aquí -->
                            <button type="submit" class="btn btn-dark">Regístrate</button>
                        </div>
                    </div>
                    
                    <!-- Campos para protectora -->
                    <div *ngIf="showShelterFields">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Nombre protectora">
                            <label for="floatingInput">Nombre de la protectora</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="CIF">
                            <label for="floatingInput">CIF</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Ubicación">
                                <option selected>Selecciona una ubicación</option>
                                <option>Abanilla</option>
                                <option>Abarán</option>
                                <option>Águilas</option>
                                <option>Albudeite</option>
                                <option>Alcantarilla</option>
                                <option>Los Alcázares</option>
                                <option>Aledo</option>
                                <option>Alguazas</option>
                                <option>Alhama de Murcia</option>
                                <option>Archena</option>
                                <option>Beniel</option>
                                <option>Blanca</option>
                                <option>Bullas</option>
                                <option>Calasparra</option>
                                <option>Campos del Río</option>
                                <option>Caravaca de la Cruz</option>
                                <option>Cartagena</option>
                                <option>Cehegín</option>
                                <option>Ceutí</option>
                                <option>Cieza</option>
                                <option>Fortuna</option>
                                <option>Fuente Álamo de Murcia</option>
                                <option>Jumilla</option>
                                <option>Librilla</option>
                                <option>Lorca</option>
                                <option>Lorquí</option>
                                <option>Mazarrón</option>
                                <option>Molina de Segura</option>
                                <option>Moratalla</option>
                                <option>Mula</option>
                                <option>Murcia</option>
                                <option>Ojós</option>
                                <option>Pliego</option>
                                <option>Puerto Lumbreras</option>
                                <option>Ricote</option>
                                <option>San Javier</option>
                                <option>San Pedro del Pinatar</option>
                                <option>Santomera</option>
                                <option>Torre-Pacheco</option>
                                <option>Las Torres de Cotillas</option>
                                <option>Totana</option>
                                <option>Ulea</option>
                                <option>La Unión</option>
                                <option>Villanueva del Río Segura</option>
                                <option>Yecla</option>
                            </select>
                            <label for="floatingInput">Ubicación</label>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" placeholder="Email">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" placeholder="Contraseña">
                            <label for="floatingInput">Contraseña</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" placeholder="Repetir contraseña">
                            <label for="floatingInput">Repite la contraseña</label>
                        </div>
                        <div class="text-center"> <!-- Añade la clase text-center aquí -->
                            <button type="submit" class="btn btn-dark">Regístrate</button>
                        </div>
                    </div>
                    
                </form>
            </div>
            
        </div>
        
    </div>

    <div class="sidenav">
        <img src="/assets/img/login/rightSideLogin.png" alt="login form" class="img-fluid"/>
    </div>
</main>
