.login {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    
}

.sidenav {
    flex: 1;
    display: flex;
    justify-content: left;
    transition: flex 0.5s;  
   
}

img{
    position: fixed;
    width: auto;
    height: 100vh;
    object-fit: cover;
    margin: 0;
}


.main {
    flex: 1;
    border-radius: 0 10px 10px 0;
    padding: 50px;
    transition: flex 0.5s;
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-form {
    background-color: #E8C07D;
    border-radius:  50px 50px 0 50px ;
    padding: 80px;
    max-width: 600px; 
}



@media (max-width: 768px) {


    .sidenav {
        flex: 0;
    }

    .main {
        flex: 1;

    }
    .login-form{
        padding: 50px;
    }
}