<div class="container">

    <div class="title">
        <p class="help">¿Quieres echar una <img src="/assets/img/colaborate/patica.png" class="logo">? </p>
    </div>

<div class="container-fluid">
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="/assets/img/colaborate/1.png" alt="img1">
        </div>
        <div class="flex-grow-1 ms-3">
            <h4 class="header-1">REALIZAS TU DONACIÓN</h4>
            <p class="text-1">Decide la cantidad con la que deseas contribuir. Cada euro donado representa un rayo de
                esperanza para
                las
                paticas que más lo necesitan. Tu generosidad hace posible que continuemos nuestro compromiso de
                brindarles
                un futuro más brillante y lleno de amor.</p>
        </div>
    </div>


    <div class="d-flex justify-content-end">
        <div class="flex-grow-1 me-3">
            <h4 class="header-2 text-end">PATICAS LA RECIBE</h4>
            <p class="text-2 justify-text-end">Una vez que completes tu donación, el equipo de Paticas la recibe con
                profunda
                gratitud y compromiso. Nos aseguramos de que cada euro recibido se utilice de manera efectiva para
                apoyar a las protectoras de animales asociadas, garantizando así que nuestras queridas paticas reciban
                el cuidado y la atención que merecen.</p>
        </div>
        <div class="flex-shrink-0">
            <img src="/assets/img/colaborate/2.png" alt="img2">
        </div>
    </div>

    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="/assets/img/colaborate/3.png" alt="img3">
        </div>
        <div class="flex-grow-1 ms-3">
            <h4 class="header-3">REPARTO MENSUAL</h4>
            <p class="text-3">Al final de cada mes, llevamos a cabo una distribución equitativa de todas las donaciones
                entre todas las protectoras asociadas. Esta iniciativa asegura que tu contribución alcance a todas las
                paticas que necesitan ayuda, cubriendo gastos esenciales como alimentación, atención veterinaria y
                refugio. ¡Gracias por ser parte de esta noble causa!</p>
        </div>
    </div>
</div>

</div>