<main class="container-fluid">
    <div *ngIf="response">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-4" *ngFor="let shelter of response.shelters">
                <div class="card h-100" style="height: 450px;">
                    <img [src]="shelter.image" class="card-img-top" alt="imageShelter">
                    <div class="card-body">
                        <h5 class="card-title text-wrap text-truncate">{{ shelter.name }}</h5>

                        <div class="card-content">
                            <button type="button" class="btn btn-light btn-sm disabled btn-sm mb-2 mb-md-0">
                                <i class="bi bi-geo-alt-fill"></i>
                                {{ shelter.location }}
                            </button>
                            
                            <ng-container *ngIf="shelter.liked == 'false'; else liked">
                                <i class="bi bi-heart fs-4" (click)="toggleLiked(shelter)"></i>
                            </ng-container>
                            <ng-template #liked>
                                <i class="bi bi-heart-fill fs-4" (click)="toggleLiked(shelter)"></i>
                            </ng-template>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
